.removeprd{
  pointer-events: none;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.remove{
  display: none;
  pointer-events: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body{
  font-size: 10px !important; 
}

.preloader .text{
  position: fixed;
  bottom: 0;
  width: 100%; 
  text-align: center;
  
 
}
.preloader .text .txt p{
  font-size: 15px;
  padding: 15px 0;


}
.preloader .text .txt {
  padding: 15px 15px 25px 15px;

}

.preloader{
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.rect2{
  /* Rectangle 2 */
  
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: rgba(46, 176, 53, 0.39);
  border-radius: 100px;

}
.rect2 .image{
  display: grid;
  place-items: center
}
.rect2 .image img{
  position: relative;
  width: 45px;
  
 
 

}
